#formSection {
    display: none;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #FFd47f;
    margin-bottom: 30px;
    width: 100%;
    

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFAA7F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#nouveauLi {
    display: block;
}

#taskList li button {
    background-color: white;
    padding: 5px;
    border: 1px solid red;
    margin: 10px;
}

#taskList li {
        background-color: white;
        padding: 20px;
        margin: 50px;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        gap: 10px;
        
}

#taskList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

button {
    background-color: #99CC99;
    padding: 20px;
    border: 1px solid #0f0f0f;
    border-radius: 15px;
    cursor: pointer;
    font-size: medium;
    margin: 30px;
    justify-content: space-around;

}

#formSection input { 
    padding: 50px;
    padding-left: 50px;
    border: 2px solid black;
    margin-right: 10px;
    height: 100px;
    
    

}